.a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark{
    background-color: #75767B;
    background-image: url(https://cdn.wallpapersafari.com/22/11/RecrEV.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
} 

.mt-50 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(249, 238, 238, 0.15);
    border-radius: 5%;
    padding: 20px;
} 

.col-12{
    color: black;
    text-align: center;
    
}


.col-md-10{
    color: white;
}

.card-body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark{
	background-color: #75767B;
}


.mt-50{
	margin-top: 50px;
}
#canvas{
    border: 2px solid black;
}




