.a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.bg-dark{

    background-image: url('https://www.hdcarwallpapers.com/walls/lamborghini_autentica_2024_5k-HD.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    

} 


.col-md-10-form-group{
    color: black;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-header{
    background-color: black !important;
    color: white !important;
    margin-bottom: 20px;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;

}
.col-12{
    color: white;
}
  


.mt-50{
    align-items: center;
    border-radius: 25px;
	margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.5);
    /* background-color: white; */

    
    background-color: rgba(113, 113, 113, 0.319);
}
#canvas{
    border: 2px solid black;
}